.secreto-chat h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 35px;
  font-weight: bold;
  color: rgb(201, 69, 69);
}

.secreto-chat p {
  text-align: center;
  opacity: 0.6;
  font-size: 15px;
}
