.secreto-chat h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
  font-weight: bold;
}

.secreto-chat a {
  margin: 10px;
  color: #000;
}
.secreto-chat .bi-arrow-left-circle {
  font-size: 40px;
}

/* Input */
.Inputmessage .btn {
  position: absolute;
  top: 10px;
  left: 320px;
}
.Inputmessage {
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
}
.Inputmessage input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  background-color: transparent;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
.Inputmessage input:focus {
  outline: none;
}

.Inputmessage label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.Inputmessage input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

/* BOTTOM BARS */
.Inputmessage .bar {
  position: relative;
  display: block;
  width: 300px;
}
.Inputmessage .bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.Inputmessage .bar:before {
  left: 50%;
}
.Inputmessage .bar:after {
  right: 50%;
}

/* active state */
.Inputmessage input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.Inputmessage .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.Inputmessage input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

/* Box message */
.boxMessage {
  border: 2px solid black;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  overflow-y: scroll;
}
.boxMessage .row .col {
  overflow-x: hidden;
  /* width: 100px !important; */
}
.boxMessage .photo {
  margin-top: 5px;
}
.boxMessage .profile {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  background-image: url("https://i.ibb.co/V01XPhm/person.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 320px) and (max-width: 767px) {
  .Inputmessage .btn {
    position: initial;
    margin-top: 20px;
    width: 35%;
    background-color: transparent;
    color: #000;
    border: 2px solid black;
  }
  .Inputmessage .btn:hover {
    border: 2px solid black;
  }
}
